<form action="/register" method="POST" class="form-container">
  <h1>Cadastro de Usuário</h1>
  <label for="name">Seu nome</label>
  <input type="text" name="name" placeholder="Nome" required>
  <label for="email">E-mail</label>
  <input type="email" name="email" placeholder="Email" required>
  <label for="password">Crie sua senha</label>
  <input type="password" name="password" placeholder="Crie sua senha" required>
  <label for="confirmPassword">Confirme a senha</label>
  <input type="password" name="confirmPassword" placeholder="Confirme sua senha" required>
  <input type="submit" value="cadastrar">
  <a href="">Ja tem uma conta? cadastrar</a>
</form>
