*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f8f8f8;
}
.container-inicio{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-container{
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.form-container h1{
    font-size: 25px;
    margin-bottom: 10px;
}
.form-container input{
    width: 300px;
    height: 35px;
    padding-left: 10px;
}
.form-container input[type="submit"]{
    width: 300px;
    height: 35px;
    border: 0;
    background-color: royalblue;
    color: white;
}
.form-container input[type="submit"]:hover{
    background-color: rgb(42, 83, 206);
}
.form-container a{
    text-align: center;
}